@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    //https://learn.microsoft.com/pt-br/aspnet/core/security/anti-request-forgery
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<header>
    <nav>

    </nav>
</header>

<input readonly type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
