@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    //https://learn.microsoft.com/pt-br/aspnet/core/security/anti-request-forgery
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<header>
    <nav>
        <ul class="flex">
            <li class="mr-6">
                <a href="/home" aria-label="SOUBE" role="link">SOUBE</a>
            </li>
            <li class="mr-6">
                <a href="/home"  aria-label="Home" role="link">Home</a>
            </li>
            <li class="mr-6">
                <a href="#profile" aria-label="SOUBE" role="link">Profile</a>
            </li>
            <li class="mr-6">
                <a href="#more" aria-label="SOUBE" role="link">More</a>
            </li>
        </ul>
    </nav>
</header>

<input readonly type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
