<!DOCTYPE html>
<html lang="pt-br" class="light" style="color-scheme: light;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="Simulador Online Brasileiro Educacional">
    <meta property="og:title" content="SOUBE">
    <meta property="og:type" content="website">

    <title>@ViewData["Title"] - Web</title>

    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased body-font">
    <partial name="Components/HeaderComponent.cshtml" />

    <main role="main" class="container px-5 py-12 mx-auto">
            @RenderBody()
    </main>

    <partial name="Components/FooterComponent.cshtml" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
